.details-top-bar {
  font-size: 12px;
}

.details-top-bar .breadcrumb ul{
    display: flex;
    column-gap: 10px;
}
.details-top-bar .breadcrumb ul li:not(:last-child):after{
    content: "/";
    margin-left: 10px;
    color: #dee0ea;
}
.details-top-bar .breadcrumb ul li a:hover{
    color: black;
    text-decoration: underline;
}
