.details-bar {
  margin-bottom: 30px;
}

.details-bar .tab-list {
  display: flex;
  column-gap: 20px;
  border-bottom: 1px solid #dee0ea;
}
.details-bar .tab-list li:last-child {
  margin-bottom: 20px;
}
.details-bar .tab-list a.active {
  font-weight: 500;
}

/*! tab-panel start*/

.details-bar .tab-panel {
  margin: 20px 0;
}
.tab-panel h3 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
}

/*! tab-panel-description start*/
.tab-panel .tab-panel-description {
  font-size: 14px;
}

/*! tab-panel-description end*/

/*! tab-panel-information start*/
.tab-panel .tab-info-table {
  border-collapse: collapse;
  width: 100%;
}
.tab-panel .tab-info-table  th,
.tab-panel .tab-info-table  td {
  text-align: start;
  padding: 10px 10px;
  border: 1px solid #dee0ea;
  font-size: 14px;
}
/*! tab-panel-information end*/
