.product-gallery .single-image-wrapper {
  display: flex;
  overflow: hidden;
}
.product-gallery .single-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center;
}
.product-gallery .single-image-wrapper img:hover {
  cursor: crosshair;
}

.product-gallery .gallery-thumb {
  display: flex;
  /* column-gap: 10px; */
}
.product-gallery .gallery-thumb li {
  display: flex;
  cursor: pointer;
}

/* Bu alan border olduğunda içeri göçmemesi için start */
.product-gallery .gallery-thumb li img {
  border: 1px solid transparent;
}
.product-gallery .gallery-thumb li img.active {
  border: 1px solid black;
}
.product-gallery .gallery-thumb li img:hover {
  border-color: black;
}
/* Bu alan border olduğunda içeri göçmemesi için end*/

/* glide yapısının şekillendirilmesi oklar start */

.product-thumb {
  position: relative;
}

.product-thumb .glide__arrow {
  background-color: transparent;
  position: absolute;
  top: 35%;
  font-size: 25px;
}
.product-thumb .glide__arrows .glide__arrow--left {
  left: -20px;
}
.product-thumb .glide__arrows .glide__arrow--right {
  right: -20px;
}

/* glide yapısının şekillendirilmesi oklar en */
