.site-main .product-info {
  display: flex;
  flex-direction: column;
  /* row-gap: 10px; // Glide kullanıldığı için bu kapatıldı.*/
}

.site-main .product-info .product-title {
  font-weight: 600;
}

.site-main .product-info .product-review {
  display: flex;
  column-gap: 8px;
  font-size: 12px;
  font-weight: 600;
}
.site-main .product-info .product-review .product-star {
  display: flex;
}
.site-main .product-info .product-review .product-star i {
  color: gold;
}

.site-main .product-info .product-price s {
  font-size: 18px;
  color: #dee0ea;
}
.site-main .product-info .product-price strong {
  font-size: 20px;
}
.site-main .product-info .product-desc {
  font-size: 14px;
  margin: 5px 0;
  line-height: 1.4;
}

.site-main .product-info .variations-form .variations {
  display: flex;
  flex-direction: column;
}
.site-main .variations-form .variations .colors .colors-label {
  font-size: 14px;
  font-weight: 500;
}
.site-main .variations-form .variations .colors .colors-wrapper {
  display: flex;
  justify-content: flex-start;
  column-gap: 5px;
  margin: 10px 0;
}
.site-main .variations-form .variations .colors .color-wrapper {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  padding: 2px;
  left: -2;
  border: 1px solid #dee0ea;
  transition: border-color ease 0.4s;
}
.site-main .variations-form .variations .colors .color-wrapper:hover,
.site-main .variations-form .variations .colors .color-wrapper.active {
  border: 1px solid red;
}
.site-main .variations-form .variations .colors .color-wrapper label {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  cursor: pointer;
  padding: 2px;
}
.site-main .variations-form .variations .colors .blue-color {
  background-color: blue;
}
.site-main .variations-form .variations .colors .red-color {
  background-color: red;
}
.site-main .variations-form .variations .colors .green-color {
  background-color: green;
}
.site-main .variations-form .variations .colors .purple-color {
  background-color: purple;
}
.site-main .variations-form .variations .colors input[type="radio"] {
  appearance: none;
}

.size-values .value-label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
.size-values .value-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}
.size-values .value-list span {
  display: inline-block;
  padding: 8px 40px;
  border: 1px solid #dee0ea;
  font-size: 14px;
  flex: 1;
  text-align: center;
  transition: all ease 0.3s;
}
.size-values .value-list span:hover {
  background-color: #e51414;
  color: white;
  cursor: pointer;
}
.size-values .value-list span.active {
  background-color: #e51414;
  color: white;
}

.cart-button {
  display: flex;
  column-gap: 10px;
  margin: 10px 0;
}
.cart-button input {
  width: 80px;
}
.cart-button button {
  width: 100%;
}
.cart-button button:disabled {
  background-color: #1367ef;
  color: white;
  border-color: #1367ef;
}

.product-extra-buttons {
  display: flex;
  column-gap: 15px;
  font-size: 12px;
  margin: 10px 0;
  color: gray;
  opacity: 0.6;
}

.divider {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #dee0ea;
  margin-bottom: 10px;
}

.product-meta {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

/*! Responsive */
@media (max-width: 768px) {
  .site-main .value-list span {
    padding: 6px !important;
    display: inline-block;
  }
}
