/* .products .product-list {
  display: flex;
  //grid-template-columns: 1fr 1fr 1fr 1fr; 
  gap: 20px;
  margin-top: 30px;
} */

.products .product-item {
  text-align: center;
  background-color: #efefef;
  position: relative;
  /* bir değişiklik görülmedi -orginal */
  display: flex;
  flex-direction: column;
}
.products .product-item img {
  width: 100%;
}
.products .product-item .image-back {
  display: flex;
  position: absolute;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in-out 0.3s;
}
.products .product-item .product-image:hover .image-back {
  opacity: 1;
  visibility: visible;
}
.products .product-item .product-title {
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  margin-top: 15px;
}
.products .product-item .product-star {
  display: flex;
  justify-content: center;
  column-gap: 2px;
  margin: 8px 0;
}
.products .product-item .product-star i {
  color: gold;
  font-size: 12px;
}
.products .product-item .product-price {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  padding-bottom: 15px;
}
.products .product-item .product-price strong {
  color: #ff3c20;
  font-weight: 500;
}
.products .product-item .product-price span {
  color: #7d7d7d;
  font-size: 12px;
  text-decoration: line-through;
}
.products .product-discount {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 500;
  background-color: #ff3c20;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products .product-links {
  position: absolute;
  top: 20px;
  left: 0;
  background-color: transparent;
  display: inline-flex;
  flex-direction: column;
  row-gap: 8px;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in 0.3s;
  /*
      Dostlar aşağıdaki kod ile yukarıdaki flex aynı
     işlevi görmektedir.
        display: flex;
        justify-content: center;
        align-items: center; 
    */
}
.products .product-item:hover .product-links {
  opacity: 1;
  visibility: visible;
  transform: translate(10px);
}
.product-item .product-links button,
.product-item .product-links a {
  background-color: black;
  display: inline-block;
  padding: 5px;
  border-radius: 4px;
  transition: all ease 0.5s;
}
.product-item .product-links button:hover,
.product-item .product-links a:hover {
  opacity: 0.65;
}
.product-item .product-links i {
  color: #fff;
  font-size: 14px;
  display: flex;
}

/*! glide slide button  */

.product-wrapper {
  position: relative;
}

.product-wrapper .glide__arrow {
  position: absolute;
  background-color: transparent;
  top: 50%;
}
.product-wrapper .glide__arrow--left {
  left: -40px;
}
.product-wrapper .glide__arrow--right {
  right: -40px;
}
.product-wrapper .glide__arrow i {
  font-size: 30px;
}

/*! responsive  */
@media (max-width: 768px) {
  /* Burası glide öncesi */
  /* .products .product-wrapper .product-list {
    grid-template: 1fr 1fr / 1fr 1fr;
  } */

  /* Glide sonrası */
  .product-wrapper .glide__arrow--left {
    left: 0px;
  }
  .product-wrapper .glide__arrow--right {
    right: 0px;
  }
}
