.blog-detail {
  margin: 40px 0;
}

.blog-detail figure img {
  width: 100%;
}
.blog-detail .blog-detail-text-wrapper {
  margin: 20px 0;
}
.blog-detail .blog-detail-meta {
  display: flex;
  column-gap: 10px;
  font-size: 12px;
}
.blog-detail .blog-detail-meta div {
  display: flex;
  align-items: center;
}
.blog-detail .blog-detail-meta a.single-tags {
  font-weight: 600;
}
.blog-detail .blog-detail-meta div:not(:last-child):after {
  content: "";
  width: 15px;
  height: 1px;
  background-color: #e51414;
  margin-left: 10px;
}
.blog-detail .blog-detail-text-wrapper .blog-detail-title {
  margin: 20px 0 15px 0;
  font-size: 38px;
  font-weight: 600;
}
.blog-detail .blog-detail-text-wrapper .blog-detail-content p {
  font-size: 14px;
  color: #75767c;
  margin-bottom: 10px;
}
.blog-detail .blog-detail-text-wrapper .blog-detail-content blockquote {
  border-left: 4px solid #dee0ea;
  padding: 20px 30px 2px 50px;
  margin: 20px 0;
}
