.section-title {
  text-align: center;
  margin-bottom: 4px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 0.8;
  margin-bottom: 4px;
}

/*! categories start  */
.categories {
  margin: 40px 0;
}
/* Orjinal 
.categories .category-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
} */
.categories .category-list {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  gap: 30px;
  margin-top: 30px;
}
/*! categories end  */
/*! products start  */
.products {
  margin: 40px 0;
}
.products .product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 30px;
}
/*! products end  */
/*! campaigns start  */
.campaigns {
  margin: 30px 0;
}
.campaigns .campaigns-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px 0;
}
/*! campaigns end  */

/*! blogs start  */
.blogs {
  margin:40px 0;
}

.blogs .blog-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  margin:30px 0;
}

/*! blogs end  */

/*! brands start  */
.brands{
  margin:40px 0;
}

.brands .brand-list{
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border:1px solid #dee3ea;
}

/*! brands end  */

